/*
 * style.css
 */

body {
	background-color: rgb(249 249 249);
	color:grey;
	overflow:hidden;
}

p {
font-size:15px;
}

.regestration_box {
	margin-top: 7%;
	padding-left: 15%;
	padding-right: 20%;
	margin-bottom: 7%;
}

.right_text {
	margin-left: 15%;
}